<div class="container" *ngIf="user" style="align-content: center; text-align: center; margin-top: 20px">
  <div class="row">
    <div class="col">
        <form #editProfileForm="ngForm" (ngSubmit)="Button1(editProfileForm.value, editProfileForm)">
   
            <div class="form-group">
                <label for="email">Email address:</label>
                <input required type="email" class="form-control" name="Email" placeholder="Email"  [(ngModel)]="user.Email">
            </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input required type="text" class="form-control" name="Name" placeholder="Name" [(ngModel)]="user.Name">
              </div>
              <div class="form-group">
                <label for="surname">Surname</label>
                <input required type="text" class="form-control" name="Surname" placeholder="Surname" [(ngModel)]="user.Surname">
              </div>
              <div class="form-group">
                <label for="address">Address</label>
                <input required type="text" class="form-control" name="Address" placeholder="Address" [(ngModel)]="user.Address">
              </div>
             
        
              <div class="form-group">
                <label for="birthday">Birthday</label>
                <input required type="date" class="form-control" name="Birthday" placeholder="dd/mm/yyyy" [(ngModel)]="user.Birthday">
              </div>
        
              <!-- <div *ngIf="!user.Image && user.Role=='AppUser' && user.PassengerTypeId != 3">
                  <div class="form-group" >
                    <input type="file" (change)="onFileSelected($event)" >  
                   <button type="button" class="button" (click)="onUpload()">Upload</button> 
                  </div>
                </div> -->
                <div  class="form-group"  *ngIf="!user.Image && user.Role=='AppUser' && user.PassengerTypeId != 3">
                    <label for="image">Upload a picture of a document </label> 
                  <!-- <*ngIf="registerForm.get('PassengerType').value != 'Regular'" class="form-group" ?  -->
                      <div class="input-group">
                          <div class="custom-file">
                            <input type="file"  class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" 
                            (change)="onFileSelected($event)">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                          </div>
                      </div>
                  </div>

              <button type="submit" class="btn" >Edit</button>
            </form>
            
    </div>
    <div class="col">

        <form #editPassForm="ngForm" (ngSubmit)="Button2(editPassForm.value, editPassForm)">
            <div>
              <div class="form-group">
                <label for="currentPassword">Current password</label>
                <input required type="password" class="form-control" name="OldPassword" placeholder="Password" ngModel>
              </div>
      
              <div class="form-group">
                <label for="password">Password</label>
                <input required type="password" class="form-control" name="NewPassword" placeholder="Password" ngModel>
              </div>
      
              <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input required type="password" class="form-control" name="ConfirmPassword" placeholder="Password" ngModel>
              </div>
            </div>
            <button type="submit" class="btn" >Change password</button>
          </form>

    </div>

  </div>


  
    
  </div>

      
      
