<div class="container" style="align-content: center; text-align: center;">


<div class="row">
  <div class="col">
      <label>Ticket ID: </label><br/>
      <div>
          <input type="number" name="ticketId" [(ngModel)]="myInput">
      </div><br/>
     
      <button name="butoon1" class="btn" (click)="FindTicket(myInput)">Find ticket</button><br/>
      <label>{{ticketExists}}</label><br/>
  </div>
  <div class="col">
      <div *ngIf="ticketForV">
          <div *ngIf="ticketForV.ApplicationUserId && ticketForV.ApplicationUserId != ''">
            <label>User email:</label>
            <div>
                <input type="text" name="userEmail" [(ngModel)] = "myInput1" >
            </div><br/>
            
            <button name="butoon2" class="btn" (click)="ValidateTicket(myInput1)">Validate</button>
          </div>
        </div><br/>
        <label>{{ticketMessage}}</label>
  </div>
</div>


</div>





